<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 아래 경로는 repository 파일의 위치를 명시하는 것-->
<mapper namespace="com.project.board.author.repository.AuthorMapper">

    <select id="findAll" resultType="com.project.board.author.domain.Author">
        select * from author;
    </select>

    <select id="findById" resultType="com.project.board.author.domain.Author" parameterType="Long">
        select * from author where id = #{id};
    </select>

    <insert id="save">
        insert into author(name, email, password, role) values(#{name}, #{email}, #{password}, #{role});
    </insert>

    <select id="findByEmail" resultType="com.project.board.author.domain.Author" parameterType="String">
        select * from author where email = #{email};
    </select>







</mapper>